<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li>
                <div class="sidebar-profile clearfix">
                    <div class="profile-img">
                        <img src="assets/images/usrbig.jpg" alt="profile">
                    </div>
                    <div class="profile-info">
                        <h3>Sarah Deo</h3>
                        <p>Welcome Admin !</p>
                    </div>
                </div>
            </li>
            <li class="header">-- Main</li>
            <li>
                <a routerLink="/dashboard">
                    <i class="menu-icon  ti-home"></i>
                    <span>Dasboard</span>
                </a>
            </li>
            <li>
                <a href="#" onClick="return false;" class="menu-toggle">
                    <i class="menu-icon ti-book"></i>
                    <span>Courses</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a routerLink="/dashboard/all_cources">All</a>
                    </li>
                    <li>
                        <a routerLink="/dashboard/my_cources">My Courses</a>
                    </li>
                    <li>
                        <a routerLink="/dashboard/certificates">Degrees</a>
                    </li>
                    <li>
                        <a routerLink="/dashboard/questions">Questions</a>
                    </li>
                    <li>
                        <a routerLink="/dashboard/new_question">Ask A Question</a>
                    </li>
                </ul>
            </li>
            <li>
                <a>
                    <i class="menu-icon  ti-home"></i>
                    <span>Social - Coming Soon</span>
                </a>
            </li>
            <li>
                <a>
                    <i class="menu-icon  ti-home"></i>
                    <span>Resume Generator</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- #Menu -->
</aside>
<!-- #END# Left Sidebar -->