<div class="block-header">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style">
                <li class="breadcrumb-item 	bcrumb-1">
                    <a routerLink="/dashboard">
                        <i class="material-icons">home</i>
                        Dashboard</a>
                </li>

                <li class="breadcrumb-item active">Profile</li>
            </ul>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="m-b-20">
                <div class="contact-grid">
                    <div class="profile-header bg-dark">
                        <div class="user-name">John Smith</div>
                        <div class="name-center">Software Engineer</div>
                    </div>
                    <img src="../../assets/images/user/usrbig3.jpg" class="user-img" alt="">
                    <p>
                        Try to get to expert status with finishing tests on the tutorials.
                    </p>
                    <div>
                        <span class="phone">
                            <i class="material-icons">trending_up</i>Expert</span>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5>5</h5>
                            <small>Course taken</small>
                        </div>
                        <div class="col-4">
                            <h5>2</h5>
                            <small>Degree achived</small>
                        </div>
                        <div class="col-4">
                            <h5>5</h5>
                            <small>Total rank</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <ul class="nav nav-tabs">
                <li class="nav-item m-l-10">
                    <a class="nav-link active" data-toggle="tab" href="#about">About</a>
                </li>
                <li class="nav-item m-l-10">
                    <a class="nav-link" data-toggle="tab" href="#cources">Cources</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane body active" id="about">
                    <p class="text-default">I always try to find the best soloutions for any given problem. I also love drinking cofee!</p>
                    <small class="text-muted">Contact email address: </small>
                    <p>john@gmail.com</p>
                    <hr>
                </div>
                <div class="tab-pane body" id="cources">
                    <ul class="list-unstyled">
                        <li>
                            <div>Photoshop</div>
                            <div class="progress skill-progress m-t-20">
                                <div class="progress-bar l-bg-green width-per-45" role="progressbar" aria-valuenow="45"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li>
                            <div>Wordpress</div>
                            <div class="progress skill-progress m-b-20">
                                <div class="progress-bar l-bg-orange width-per-38" role="progressbar" aria-valuenow="38"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li>
                            <div>HTML 5</div>
                            <div class="progress skill-progress m-b-20">
                                <div class="progress-bar l-bg-cyan width-per-39" role="progressbar" aria-valuenow="39"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li>
                            <div>Angular</div>
                            <div class="progress skill-progress m-b-20">
                                <div class="progress-bar l-bg-purple width-per-70" role="progressbar" aria-valuenow="70"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-12">
        <div class="card">
            <div class="profile-tab-box">
                <div class="p-l-20">
                    <ul class="nav ">
                        <li class="nav-item tab-all">
                            <a class="nav-link active show" href="#project" data-toggle="tab">About Me</a>
                        </li>
                        <li class="nav-item tab-all p-l-20">
                            <a class="nav-link" href="#usersettings" data-toggle="tab">Settings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="project" aria-expanded="true">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card project_widget">
                            <div class="header">
                                <h2>About</h2>
                            </div>
                            <div class="body">
                                <div class="row">
                                    <div class="col-md-3 col-6 b-r">
                                        <strong>Full Name</strong>
                                        <br>
                                        <p class="text-muted">Emily Smith</p>
                                    </div>
                                    <div class="col-md-3 col-6 b-r">
                                        <strong>User Name</strong>
                                        <br>
                                        <p class="text-muted">janedoe</p>
                                    </div>
                                    <div class="col-md-3 col-6 b-r">
                                        <strong>Email</strong>
                                        <br>
                                        <p class="text-muted">johndeo@example.com</p>
                                    </div>
                                    <div class="col-md-3 col-6">
                                        <strong>Location</strong>
                                        <br>
                                        <p class="text-muted">India</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="timeline" aria-expanded="false">
            </div>
            <div role="tabpanel" class="tab-pane" id="usersettings" aria-expanded="false">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Security</strong> Settings</h2>
                    </div>
                    <div class="body">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Current Password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="New Password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="New Password Confirm">
                        </div>
                        <button class="btn btn-info btn-round">Save Changes</button>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Account</strong> Settings</h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="City">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="E-mail">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="input-field col s12">
                                    <select>
                                        <option value="" disabled selected>Country</option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                    </select>
                                    <label>Materialize Select</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="form-check m-l-10">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" id="checkbox"
                                                name="checkbox"> Profile Visibility For Everyone
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check m-l-10">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" id="checkbox1"
                                                name="checkbox"> New course notification
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-round">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>