<div class="block-header">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
                <li class="breadcrumb-item">
                    <h4 class="page-title">Contact Grid</h4>
                </li>
                <li class="breadcrumb-item bcrumb-1">
                    <a href="../../index.html">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item bcrumb-2">
                    <a href="#" onClick="return false;">Apps</a>
                </li>
                <li class="breadcrumb-item active">Contact Grid</li>
            </ul>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center">
            <i class="fab fa-twitter fa-3x col-blue"></i>
            <div class="title p-t-15">
                <h3>Twitter</h3>
            </div>
            <div class="text p-b-10">
                <span>Lorem ipsum dolor sit amet, id quo eruditi
                    eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui
                    ad.</span>
            </div>
            <a href="#">Learn More</a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center">
            <i class="fab fa-instagram fa-3x col-red"></i>
            <div class="title p-t-15">
                <h3>Instagram</h3>
            </div>
            <div class="text p-b-10">
                <span>Lorem ipsum dolor sit amet, id quo eruditi
                    eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui
                    ad.</span>
            </div>
            <a href="#">Learn More</a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center">
            <i class="fab fa-facebook-f fa-3x col-blue"></i>
            <div class="title p-t-15">
                <h3>Facebook</h3>
            </div>
            <div class="text p-b-10">
                <span>Lorem ipsum dolor sit amet, id quo eruditi
                    eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui
                    ad.</span>
            </div>
            <a href="#">Learn More</a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center">
            <i class="fab fa-instagram fa-3x col-red"></i>
            <div class="title p-t-15">
                <h3>Instagram</h3>
            </div>
            <div class="text p-b-10">
                <span>Lorem ipsum dolor sit amet, id quo eruditi
                    eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui
                    ad.</span>
            </div>
            <a href="#">Learn More</a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center">
            <i class="fab fa-twitter fa-3x col-blue"></i>
            <div class="title p-t-15">
                <h3>Twitter</h3>
            </div>
            <div class="text p-b-10">
                <span>Lorem ipsum dolor sit amet, id quo eruditi
                    eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui
                    ad.</span>
            </div>
            <a href="#">Learn More</a>
        </div>
    </div>
</div>