<div class="block-header">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
                <li class="breadcrumb-item">
                    <h4 class="page-title">Contact Grid</h4>
                </li>
                <li class="breadcrumb-item bcrumb-1">
                    <a href="../../index.html">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item bcrumb-2">
                    <a href="#" onClick="return false;">Apps</a>
                </li>
                <li class="breadcrumb-item active">Contact Grid</li>
            </ul>
        </div>
    </div>
</div>

<div class="row clearfix">
    <!-- Task Info -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="header">
                <h2>
                    <strong>Recent</strong> Orders</h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
                            role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="#" onClick="return false;">Action</a>
                            </li>
                            <li>
                                <a href="#" onClick="return false;">Another action</a>
                            </li>
                            <li>
                                <a href="#" onClick="return false;">Something else here</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="tableBody">
                <div class="table-responsive">
                    <table class="table table-hover dashboard-task-infos">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Item</th>
                                <th>Status</th>
                                <th>Quantity</th>
                                <th>Progress</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="table-img">
                                    <img src="../../assets/images/user/user1.jpg" alt="">
                                </td>
                                <td>John Doe</td>
                                <td>iPhone X</td>
                                <td>
                                    <span class="label bg-green shadow-style">Placed</span>
                                </td>
                                <td>2</td>
                                <td>
                                    <div class="progress shadow-style">
                                        <div class="progress-bar l-bg-green width-per-62" role="progressbar"
                                            aria-valuenow="62" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-img">
                                    <img src="../../assets/images/user/user2.jpg" alt="">
                                </td>
                                <td>Sarah Smith</td>
                                <td>Pixel 2</td>
                                <td>
                                    <span class="label l-bg-purple shadow-style">Shipped</span>
                                </td>
                                <td>1</td>
                                <td>
                                    <div class="progress shadow-style">
                                        <div class="progress-bar l-bg-purple width-per-40" role="progressbar"
                                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-img">
                                    <img src="../../assets/images/user/user3.jpg" alt="">
                                </td>
                                <td>Airi Satou</td>
                                <td>OnePlus</td>
                                <td>
                                    <span class="label l-bg-orange shadow-style">Pending</span>
                                </td>
                                <td>2</td>
                                <td>
                                    <div class="progress shadow-style">
                                        <div class="progress-bar l-bg-orange width-per-72" role="progressbar"
                                            aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-img">
                                    <img src="../../assets/images/user/user4.jpg" alt="">
                                </td>
                                <td>Angelica Ramos</td>
                                <td>Galaxy</td>
                                <td>
                                    <span class="label l-bg-cyan shadow-style">Delivered</span>
                                </td>
                                <td>3</td>
                                <td>
                                    <div class="progress shadow-style">
                                        <div class="progress-bar l-bg-cyan width-per-95" role="progressbar"
                                            aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-img">
                                    <img src="../../assets/images/user/user5.jpg" alt="">
                                </td>
                                <td>Ashton Cox</td>
                                <td>Moto Z2</td>
                                <td>
                                    <span class="label bg-green shadow-style">Placed</span>
                                </td>
                                <td>4</td>
                                <td>
                                    <div class="progress shadow-style">
                                        <div class="progress-bar l-bg-green width-per-87" role="progressbar"
                                            aria-valuenow="87" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-img">
                                    <img src="../../assets/images/user/user6.jpg" alt="">
                                </td>
                                <td>Cara Stevens</td>
                                <td>Nokia</td>
                                <td>
                                    <span class="label bg-green shadow-style">Placed</span>
                                </td>
                                <td>6</td>
                                <td>
                                    <div class="progress shadow-style">
                                        <div class="progress-bar l-bg-green width-per-62" role="progressbar"
                                            aria-valuenow="62" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Task Info -->
</div>