<section class="">
    <div class="">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style">
                        <li class="breadcrumb-item 	active">
                            <i class="material-icons">home</i>Dashboard
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Widgets -->
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="info-box7 l-bg-green order-info-box7">
                    <div class="info-box7-block">
                        <h4 class="m-b-20">Enroled Courses</h4>
                        <h2 class="text-right"><i class="fas fa-book pull-left"></i><span>0</span></h2>
                        <p class="m-b-0">You can enrol in a cource and start learning it</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="info-box7 l-bg-purple order-info-box7">
                    <div class="info-box7-block">
                        <h4 class="m-b-20">Completed Cources</h4>
                        <h2 class="text-right"><i class="
                            fas fa-flag-checkered pull-left"></i><span>5</span></h2>
                        <p class="m-b-0">Enroll in other cources to grow your rank</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="info-box7 l-bg-orange order-info-box7">
                    <div class="info-box7-block">
                        <h4 class="m-b-20">Answered Questions</h4>
                        <h2 class="text-right"><i class="fas fa-question pull-left"></i><span>124</span></h2>
                        <p class="m-b-0">With submitting answers to other users questions, you can make your rank go up.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="info-box7 l-bg-cyan order-info-box7">
                    <div class="info-box7-block">
                        <h4 class="m-b-20">Asked Questions</h4>
                        <h2 class="text-right"><i class="fas fa-question-circle pull-left"></i><span>0</span></h2>
                        <p class="m-b-0">In any part of the tutorials, if you have any question, you can simply ask it
                            and with for others to response</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Widgets -->
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Your </strong>Rancking</h2>
                    </div>
                    <div class="body">
                        <div id="user-ranking" class="media-list-h300 position-relative">
                            <div class="table-responsive">
                                <table id="new-orders-table" class="table table-hover table-xl mb-0">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">Rank</th>
                                            <th class="border-top-0">User</th>
                                            <th class="border-top-0">Enroled Cources</th>
                                            <th class="border-top-0">Point</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-truncate">1</td>
                                            <td class="text-truncate">iPhone X</td>
                                            <td class="text-truncate">
                                                <ul class="list-unstyled order-list">
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user1.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user3.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <span class="badge">+2</span>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="text-truncate">$8999</td>
                                        </tr>
                                        <tr>
                                            <td class="text-truncate">2</td>
                                            <td class="text-truncate">Pixel 2</td>
                                            <td class="text-truncate">
                                                <ul class="list-unstyled order-list">
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user4.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user5.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user6.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <span class="badge">+4</span>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="text-truncate">$5550</td>
                                        </tr>
                                        <tr>
                                            <td class="text-truncate">3</td>
                                            <td class="text-truncate">OnePlus</td>
                                            <td class="text-truncate">
                                                <ul class="list-unstyled order-list">
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user7.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user8.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user9.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <span class="badge">+3</span>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="text-truncate">$9000</td>
                                        </tr>
                                        <tr>
                                            <td class="text-truncate">4</td>
                                            <td class="text-truncate">Galaxy</td>
                                            <td class="text-truncate">
                                                <ul class="list-unstyled order-list">
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user1.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user2.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <span class="badge">+1</span>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="text-truncate">$7500</td>
                                        </tr>
                                        <tr>
                                            <td class="text-truncate">5</td>
                                            <td class="text-truncate">Moto Z2</td>
                                            <td class="text-truncate">
                                                <ul class="list-unstyled order-list">
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user3.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user4.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user5.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <span class="badge">+4</span>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="text-truncate">$8500</td>
                                        </tr>
                                        <tr>
                                            <td class="text-truncate">6</td>
                                            <td class="text-truncate">iPhone X</td>
                                            <td class="text-truncate">
                                                <ul class="list-unstyled order-list">
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user6.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user7.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <span class="badge">+2</span>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="text-truncate">$8999</td>
                                        </tr>
                                        <tr>
                                            <td class="text-truncate">7</td>
                                            <td class="text-truncate">iPhone X</td>
                                            <td class="text-truncate">
                                                <ul class="list-unstyled order-list">
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user3.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user7.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user1.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <span class="badge">+4</span>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="text-truncate">$8999</td>
                                        </tr>
                                        <tr>
                                            <td class="text-truncate">8</td>
                                            <td class="text-truncate">Pixel 2</td>
                                            <td class="text-truncate">
                                                <ul class="list-unstyled order-list">
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user4.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user6.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <span class="badge">+3</span>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="text-truncate">$5550</td>
                                        </tr>
                                        <tr>
                                            <td class="text-truncate">9</td>
                                            <td class="text-truncate">OnePlus</td>
                                            <td class="text-truncate">
                                                <ul class="list-unstyled order-list">
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user7.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user8.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user9.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <span class="badge">+3</span>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="text-truncate">$9000</td>
                                        </tr>
                                        <tr>
                                            <td class="text-truncate">10</td>
                                            <td class="text-truncate">Samsung</td>
                                            <td class="text-truncate">
                                                <ul class="list-unstyled order-list">
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user3.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user6.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user1.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <span class="badge">+2</span>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="text-truncate">$4563</td>
                                        </tr>
                                        <tr>
                                            <td class="text-truncate">11</td>
                                            <td class="text-truncate">Nokia</td>
                                            <td class="text-truncate">
                                                <ul class="list-unstyled order-list">
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user9.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user2.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <img class="rounded-circle" src="assets/images/user/user5.jpg"
                                                            alt="user">
                                                    </li>
                                                    <li class="avatar avatar-sm">
                                                        <span class="badge">+1</span>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="text-truncate">$8763</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Recent</strong> Points</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
                                    role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="sl-item sl-primary">
                            <div class="sl-content">
                                <small class="text-muted">
                                    <i class="fa fa-user position-left"></i> 5 mins ago</small>
                                <p>Lorem ipsum dolor sit amet conse ctetur which ascing elit users.</p>
                            </div>
                        </div>
                        <div class="sl-item sl-danger">
                            <div class="sl-content">
                                <small class="text-muted">
                                    <i class="fa fa-user position-left"></i> 8 mins ago</small>
                                <p>Lorem ipsum dolor sit ametcon the sectetur that ascing elit users.</p>
                            </div>
                        </div>
                        <div class="sl-item sl-success">
                            <div class="sl-content">
                                <small class="text-muted">
                                    <i class="fa fa-user position-left"></i> 10 mins ago</small>
                                <p>Lorem ipsum dolor sit amet cons the ecte tur and adip ascing elit users.</p>
                            </div>
                        </div>
                        <div class="sl-item sl-warning">
                            <div class="sl-content">
                                <small class="text-muted">
                                    <i class="fa fa-user position-left"></i> 12 mins ago</small>
                                <p>Lorem ipsum dolor sit amet consec tetur adip ascing elit users.</p>
                            </div>
                        </div>
                        <div class="sl-item sl-primary">
                            <div class="sl-content">
                                <small class="text-muted">
                                    <i class="fa fa-user position-left"></i> 5 mins ago</small>
                                <p>Lorem ipsum dolor sit amet conse ctetur which ascing elit users.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row clearfix">

            <div class="col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Active</strong> Courses</h2>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-md-9 col-sm-9 col-9">
                                <div class="p-t-10">
                                    <span class="pull-left progress-label">envato.com</span>
                                    <span class="pull-right progress-percent label label-info m-b-5">17%</span>
                                </div>
                                <div class="earningProgress">
                                    <div class="progress shadow-style">
                                        <div class="progress-bar l-bg-green width-per-17" role="progressbar"
                                            aria-valuenow="17" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-3 p-t-10">
                                <button type="button" class="w-100 btn btn-info waves-effect">Continue</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-9 col-sm-9 col-9">
                                <div class="p-t-10">
                                    <span class="pull-left progress-label">envato.com</span>
                                    <span class="pull-right progress-percent label label-danger m-b-5">27%</span>
                                </div>
                                <div class="earningProgress">
                                    <div class="progress shadow-style">
                                        <div class="progress-bar l-bg-purple width-per-27" role="progressbar"
                                            aria-valuenow="27" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-3 p-t-10">
                                <button type="button" class="w-100 btn btn-info waves-effect">Continue</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-9 col-sm-9 col-9">
                                <div class="p-t-10">
                                    <span class="pull-left progress-label">envato.com</span>
                                    <span class="pull-right progress-percent label label-primary m-b-5">25%</span>
                                </div>
                                <div class="earningProgress">
                                    <div class="progress shadow-style">
                                        <div class="progress-bar l-bg-purple width-per-25" role="progressbar"
                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-3 p-t-10">
                                <button type="button" class="w-100 btn btn-info waves-effect">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-12 col-md-12 col-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <strong>Latest</strong> Courses</h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
                                role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="#" onClick="return false;">Action</a>
                                </li>
                                <li>
                                    <a href="#" onClick="return false;">Another action</a>
                                </li>
                                <li>
                                    <a href="#" onClick="return false;">Something else here</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="tableBody">
                    <div class="table-responsive">
                        <table class="table table-hover dashboard-task-infos">
                            <thead>
                                <tr>
                                    <th>Icon</th>
                                    <th>Name</th>
                                    <th>Enroll Status</th>
                                    <th>Path</th>
                                    <th>Your Progress</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="table-img">
                                        <img src="../../assets/images/user/user1.jpg" alt="">
                                    </td>
                                    <td>Task A</td>
                                    <td>
                                        <span class="label light-green shadow-style">Doing</span>
                                    </td>
                                    <td>John Doe</td>
                                    <td>
                                        <div class="progress shadow-style">
                                            <div class="progress-bar l-bg-green width-per-62" role="progressbar"
                                                aria-valuenow="62" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-img">
                                        <img src="../../assets/images/user/user2.jpg" alt="">
                                    </td>
                                    <td>Task B</td>
                                    <td>
                                        <span class="label l-bg-purple shadow-style">To Do</span>
                                    </td>
                                    <td>John Doe</td>
                                    <td>
                                        <div class="progress shadow-style">
                                            <div class="progress-bar l-bg-purple width-per-40" role="progressbar"
                                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-img">
                                        <img src="../../assets/images/user/user3.jpg" alt="">
                                    </td>
                                    <td>Task C</td>
                                    <td>
                                        <span class="label l-bg-orange shadow-style">On Hold</span>
                                    </td>
                                    <td>John Doe</td>
                                    <td>
                                        <div class="progress shadow-style">
                                            <div class="progress-bar l-bg-orange width-per-72" role="progressbar"
                                                aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-img">
                                        <img src="../../assets/images/user/user4.jpg" alt="">
                                    </td>
                                    <td>Task D</td>
                                    <td>
                                        <span class="label l-bg-cyan shadow-style">Wait Approvel</span>
                                    </td>
                                    <td>John Doe</td>
                                    <td>
                                        <div class="progress shadow-style">
                                            <div class="progress-bar l-bg-cyan width-per-95" role="progressbar"
                                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-img">
                                        <img src="../../assets/images/user/user5.jpg" alt="">
                                    </td>
                                    <td>Task E</td>
                                    <td>
                                        <span class="label light-green shadow-style">Suspended</span>
                                    </td>
                                    <td>John Doe</td>
                                    <td>
                                        <div class="progress shadow-style">
                                            <div class="progress-bar l-bg-green width-per-87" role="progressbar"
                                                aria-valuenow="87" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-img">
                                        <img src="../../assets/images/user/user1.jpg" alt="">
                                    </td>
                                    <td>Task A</td>
                                    <td>
                                        <span class="label light-green shadow-style">Doing</span>
                                    </td>
                                    <td>John Doe</td>
                                    <td>
                                        <div class="progress shadow-style">
                                            <div class="progress-bar l-bg-green width-per-62" role="progressbar"
                                                aria-valuenow="62" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-img">
                                        <img src="../../assets/images/user/user2.jpg" alt="">
                                    </td>
                                    <td>Task B</td>
                                    <td>
                                        <span class="label l-bg-purple shadow-style">To Do</span>
                                    </td>
                                    <td>John Doe</td>
                                    <td>
                                        <div class="progress shadow-style">
                                            <div class="progress-bar l-bg-purple width-per-40" role="progressbar"
                                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>